[submodule "src/Wun/Shared/DomainModelsBundle"]
	path = src/Wun/Shared/DomainModelsBundle
	url = git@github.com:wakeupnow/orchid-desis.git
[submodule "src/Wun/Shared/DomainModelsOrmBundle"]
	path = src/Wun/Shared/DomainModelsOrmBundle
	url = git@github.com:wakeupnow/orchid-rrhaphy.git
